.list {
    font-size: 25px;
    padding: 13px;
    background-color: #d7d9cc;
    text-align: center;
    display:flex ;
    align-items: center;
}

.listLink {
    text-decoration: none;
    padding: 16px;
    color: black;
    
}
.listLink.active{
    text-decoration: none;
    padding: 16px;
    color:black;
    background-color: #e9ebdf;
    border-bottom: 3px solid black;

    

}

    .listLink:hover {
        background-color: #e9ebdf;
        border-bottom: 3px solid black;
    }
   
    .Settinglink{
        text-decoration: none;
        margin-left: 820px; 
        text-decoration: none;
    }
    .Settinglink.active{
        text-decoration: none;
        background-color: #e9ebdf;
        border-bottom: 3px solid bla
    }
    .Settinglink:hover {
        background-color: #e9ebdf;
        border-bottom: 3px solid black;
    }