<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
</head>
<body> 
    <h2 class="head">Settings</h2>
    <hr>
<div class="center">
    <div class="manager">
    <label for="newManager" class="Add">Add Manager</label>
    <br>
    <input required pattern="[A-Za-z]+\s[A-Za-z]+" name="managerInput" type="text" id="newManager" [(ngModel)]="newManagerValue" #managerInput="ngModel"><br>
    <ul>
        <li *ngFor="let manager of managers">{{ manager }}</li>
    </ul>
    <button (click)="addManager(managerInput.value)"  [disabled]="managerInput.invalid" >Add</button>
    <p *ngIf="managerInput.invalid && managerInput.touched && managerInput.value" style="color: red;">Name can not be empty</p>
    <p *ngIf="managers.length>2" ></p>
    </div>
</div>
</body>
</html>
\